<ion-header class="header-container">
  <ion-toolbar class="toolbar-container">
    <ion-button slot="start" class="button-header">
      <ion-back-button></ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-content" [fullscreen]="true">
  <div class="container-primary-details">
   
    <div class="img-container" style="background-image: url({{recipe?.img}});">
     
      <ion-nav-link class="button-edit-container" *ngIf="recipe?.mine" >
        <ion-button size="small" class="icon-button" (click)="editButton(recipe)">
          <ion-icon name="create-outline" class="create-outline"></ion-icon>
          <p class="edit-button">Editar Receta</p>
        </ion-button>
      </ion-nav-link>


      <div class="gradient-container">
        <h1>{{recipe?.title}}</h1>

      </div>
    </div>
    <div class="center">
      <ion-segment (ionChange)="segmentSelect($event)" value="Ingredeintes" class="container-primary-buttons">
        <ion-segment-button value="Ingredeintes" class="container-button">
          <ion-label class="lable-button">Ingredientes</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Preparacion" class="container-button">
          <ion-label class="lable-button">Preparación</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <ion-list class="ingrdient-container center scroll" *ngIf="ingredientOn">
      <ion-item *ngFor="let ingrient of recipe?.ingredientes">
        <ion-label>
          <h2>{{ingrient.nombre}}</h2>
          <p>{{ingrient.cantidad}}</p>
        </ion-label>
      </ion-item>
    </ion-list>


    <ion-list class="step-container center scroll" *ngIf="!ingredientOn">
      <ion-item class="time-container">
        <ion-label class="label-class-time">
          <p>{{recipe?.time}} minutos</p>
        </ion-label>
      </ion-item>
      <ion-item *ngFor="let step of recipe?.steps">
        <ion-label class="label-class">
          <h2>{{step.number}}. {{step.step}} </h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>