@import '../../app.component.scss';

.header-container{
    position: absolute;
    --background: red;
    box-shadow: none;
    .toolbar-container{
        --background: transparent;
        .button-header{
            --background: transparent;
            --box-shadow:none;
        }
    }
}
.container-primary-details {
    

    .img-container {
        width: 100%;
        height: 40vh;
        background-size: cover;
        margin-top: 0;
        margin-bottom: 50px;
        .button-edit-container{
            position: absolute;
            top: 50px;
            right: -8px;
            
           
            .icon-button {
                
                
                --background: rgba(245, 245, 245, 0.75);
                --border-radius: 40px 0px 0px 40px;
                    
                --box-shadow:none;
                display: flex;
                flex-direction: row;
                justify-content: center;
                text-transform: none;
               
                
                .create-outline{
                    color: #FFA63E;
                    font-size: 34px;
                }
                .edit-button{
                    color: black;
                    font-weight: 600;
                    font-size: 14px;
                    margin-top: 16px;
                    margin-left: 5px;
    
                }
        }
       

        
        }

        .gradient-container {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 6.25%, rgba(255, 255, 255, 0.46) 29.94%, #FFF 75.39%);
            height: 10vh;
            position: relative;
            bottom: -31vh;

            h1 {
                margin-top: 0;
                width: 80%;
                margin: auto;
               
                font-weight: 700;
                font-family: sans-serif;
                letter-spacing: 4.87px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                position: relative;
                top: 20px;

            }

        }

    }

    .scroll {
        overflow-x: scroll;
        height: 40vh;

        .label-class {
            h2 {
                line-height: 3vh;
            }

        }
    }

    .sc-ion-label-md-h {
        white-space: normal;

    }

    .time-container {
        --border-style: none !important;
        --min-height: 0px;

        .label-class-time {
            margin: 0;
        }
    }
}