.nav-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-icons-container{
    width: 100%;
}
.custom-tab-bar {
    background-color: transparent; /* Cambia el fondo a transparente para que se vea el SVG detrás */
    position: relative; /* Asegura que el contenido dentro del tab-bar se muestre correctamente */
    padding: 0; /* Elimina el relleno para que el SVG se extienda completamente */
  }
  
  .custom-tab-bar::before {
    content: ''; /* Crea un elemento pseudo ::before para el fondo del tab-bar */
    background-image: url('../../../assets/BGnav-background.svg'); /* Reemplaza 'ruta-a-tu-imagen.svg' con la ubicación de tu imagen SVG */
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 16px; /* Aplica el borde redondeado */
  }

.nav {
    margin: 0px 16px 26px 16px;
    padding: 5px;
    height: 60px;
    border: none;
    
}

.button-nav{
    
    margin: 25px;
    --color: black;
    border-radius: 80%;
}
.fab{
   
   z-index: 1000;
}
.fab-button{
    --box-shadow: none;
    margin-bottom: -18px;

    
}
.fab-button-small{
    width: 50px;
    height: 50px;
}
.fab-icon{
    font-size: 48px;
}
