.categories-container-primary{
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.container-category{
   margin-right: 18px;
    height: 100%;
  text-align: center;
}
.img-category{
    max-width: 76px;
    height: 78px;
    border-radius: 22px;
    object-fit: cover;
}
.category-title{
    text-align: center;
    margin: 2px 0px 10px 0px;
}
.center{
    width: 95%;
    margin: auto;
}

@media screen and (min-width:550px){
    h2{
        font-size: 2.5rem;
    }

    .img-category{
        max-width: 110px;
        height: 112px;
    }
    .category-title{
        font-size: 1.4rem;
    }
}