.header-md {
    box-shadow: none;
    border-bottom: 1px solid #8c8c8c;
    margin: auto;
    width: 95%;
  }
  
  .title-header {
    font-size: 1.5rem;
    font-weight: 700;
    padding-inline: 10px
  }
  
  .sc-ion-searchbar-md-h {
    --box-shadow: none;
  
  }
  
  .sc-ion-searchbar-md-h {
    --background: #e9e9ea;
    --border-radius: 10px;
    margin-bottom: 10px;
  }