@import '../../app.component.scss';


.inner-scroll,
.scroll-y {
  overflow: hidden;
  height: 100%;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}



.container-primary-recipe {
  display: flex;
  flex-wrap: wrap;
  row-gap: 22px;
  justify-content: space-between;
  align-items: flex-start;
  overflow-x: scroll;
  height: 40%;
  border-radius: 0px 0px 22px 22px;

  .recipe-container {
    width: 46%;
    min-width: 161px;
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 22px;

    .img-recepi {
      min-width: 43vw;
      min-height: 200px;
      border-radius: 22px;
      margin: 5px;
    }

    .background-card-recipe {
      border-radius: 0px 0px 22px 22px;
      background: rgba(249, 249, 249, 0.75);
      position: relative;
      bottom: -122px;
      backdrop-filter: blur(10px);
      min-width: 43vw;
      min-height: 80px;
      padding: 8px;

      p {
        width: 150px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 0;
      }

      h3 {
        margin: 0;
        font-size: 16px;
        width: 100%;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

    }
  }
}

@media screen and (min-width:550px) {
  .container-primary-buttons {
    margin-top: 25px;
    border-radius: 12px;

    .container-button {
      height: 44px;
      max-height: 44px;
      border-radius: 12px;
      font-size: 1.2rem;
    }
  }

  .container-primary-recipe {
    height: 50%;
    justify-content: space-around;

    .img-recepi {
      height: 266px;

      .background-card-recipe {
        bottom: -168px;
        min-width: 40vw;
        height: 100px;

        p{
          width: 100%;
          font-size: 1.35rem;
        }
        h3{
          font-size: 26px;
        }
      }
    }
  }
}