<ion-content [fullscreen]="true">
  <app-header></app-header>
  <div class="container-primary-recipe-page center">
    <div *ngFor="let recipes of recipes" class="recipes-container "
      [routerLink]="['/recipe-details', recipes.id]">
      <div class="img-class-container" style="background-image: url({{recipes.img}});"></div>

      <div class="info-recepe-container">
        <h2> {{recipes.title}} </h2>
        <p> {{recipes.description}} </p>
        <p class="details-button">Ver detalles</p>
      </div>
    </div>
  </div>

</ion-content>
