<form
 *ngIf="recipeForm" [formGroup]="recipeForm" (ngSubmit)="onSubmit()" >
  <div class="img-container">
    <img class="img-recipe" src="https://cdn.icon-icons.com/icons2/510/PNG/512/image_icon-icons.com_50366.png" alt="">
    <ion-label>Añadir una foto</ion-label> 
    <p>(Escribir url)</p>
    <input class="input-img" id="inputImg"  label-placement="floating" fill="outline" type="file" (change)="OnclickImg($event)" accept="image/*" formControlName="img" required />

  </div>

  <p *ngIf="!recipeForm.get('title')?.valid"   class="color-red">El Nombre de la Receta debe estar relleno antes de subir la imagen.</p>
<div class="container-input">
<ion-label>Nombre Receta</ion-label>
<ion-input  
placeholder="Nombre de la receta"
class="input-text"
[counter]="true"
[maxlength]="50"  formControlName="title" required></ion-input>
</div>
<div class="container-input">
<ion-label>Descripción Receta</ion-label>
<ion-textarea  placeholder="Descripción de la receta"
class="input-text textarea"
[counter]="true"
[maxlength]="150"  formControlName="description" required></ion-textarea>
</div>

 <div class="category-container container-input">
    <ion-label>Categoría</ion-label>
    <ion-select class="input-text" placeholder="Elige categoria" formControlName="category" required>
      <ion-select-option value="Desayunos">Desayunos</ion-select-option>
      <ion-select-option value="Almuerzos">Almuerzos</ion-select-option>
      <ion-select-option value="Ensaladas">Ensaladas</ion-select-option>
      <ion-select-option value="Fast Food">Fast Food</ion-select-option>
      <ion-select-option value="Postres">Postres</ion-select-option>
      <ion-select-option value="Cenas">Cenas</ion-select-option>
      <ion-select-option value="Veganos">Veganos</ion-select-option>
      <ion-select-option value="Otros">Otros</ion-select-option>
    </ion-select>
  </div>
  <div class="container-input">
    <ion-label>Tiempo de preparación (minutos)</ion-label>
    <div class="time-container-number">
      <p> < 5 </p>
      <p>30</p>
      <p>>60</p>
    </div>
    <ion-range class="time-container" min="5" max="60" step="1" pin="true" formControlName="time" required></ion-range>
  </div>
  <div formArrayName="ingredientes" class="container-input">
    <ion-label>Ingredientes </ion-label>
    <div class="conatiner-input-ingredient"  *ngFor="let ingredient of getIngredients.controls; let i = index" [formGroupName]="i">
      <ion-input class="input-text ingredient" placeholder="Ingrediente" formControlName="nombre" required></ion-input>
      <ion-input class="input-text ingredient" placeholder="Cantidad" formControlName="cantidad" required></ion-input>
    </div>
  </div>
  <div class="container-button-remove" >
    <div [ngClass]="{'icon-container': getIngredients.length >= 2, 'icon-container-r': getIngredients.length < 2}">
      <ion-icon class="button-plus" name="add-sharp" (click)="addIngredient()"></ion-icon>
      <p>Ingrediente</p>
    </div>
    <div class="icon-container" *ngIf="getIngredients.length >= 2">
      <ion-icon class="button-plus remove-button" name="trash-sharp" (click)="removeLastIngredient()"></ion-icon>
      <p>Eliminar</p>
    </div>
  </div>
  <div class="container-input" formArrayName="steps">
    <ion-label>Pasos</ion-label>
    <div *ngFor="let step of getStep.controls; let i = index" [formGroupName]="i">
      <ion-textarea placeholder="Introduce una pequeña descripción del paso" class="input-text textarea" formControlName="step" required></ion-textarea>
    </div>
  </div>
  <div class="container-button-remove" >
    <div [ngClass]="{'icon-container': getStep.length >= 2, 'icon-container-r': getStep.length < 2}">
      <ion-icon class="button-plus" name="add-sharp" (click)="addStep()"></ion-icon>
      <p>Paso</p>
    </div>
    <div class="icon-container" *ngIf="getStep.length >= 2">
      <ion-icon class="button-plus remove-button" name="trash-sharp" (click)="removeLastStep()"></ion-icon>
      <p>Eliminar</p>
    </div>
  </div>
  <div>
    <ion-button (click)="presentAlert()" class="button-confirm" type="submit" >Confirmar</ion-button>
  </div>
 
  <ion-button (click)="deleteAlert(recipeId)" *ngIf="recipe" class="detele-button button-confirm"  >Eliminar</ion-button>

</form>